<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fasten Stitch</title>

  <script src="https://cdn.fastenhealth.com/connect/v3/fasten-stitch-element.js" type="module"></script>
  <link rel="stylesheet" href="https://cdn.fastenhealth.com/connect/v3/fasten-stitch-element.css">
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <!-- external-id is hardcoded to the first user in the database for demo purposes -->
  <fasten-stitch-element id="fasten-stitch" external-id="1" public-id="{{FASTEN_PUBLIC_ID}}"></fasten-stitch-element>
</body>
</html>
